<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31365015095-gjqimacbr3opj78h0108ts3skj96odsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31365015095-gjqimacbr3opj78h0108ts3skj96odsv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>31365015095-c4jpd4f2s19u36uekgflh2pl1iqjuct7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFJxRWaCJqs6PP3_G3QX5tVl-7QImSmnM</string>
	<key>GCM_SENDER_ID</key>
	<string>31365015095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inlaylink.digitalfactory</string>
	<key>PROJECT_ID</key>
	<string>digital-factory-2747f</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-factory-2747f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31365015095:ios:94bd9091763aa58d5941b2</string>
</dict>
</plist>